
h1{
 color:rgb(28, 43, 51);
font-size: 32px;
font-weight: 500;
letter-spacing:0.5px;
font-size: 40px;
line-height: 52px;
}



h2{
    color:  rgb(28, 43, 51);
    letter-spacing: 0.5px;
    font-size: 32px;
    margin-top: 18px;
    line-height: 42px;
    font-weight: 500;
}
p{
    color: rgb(70, 90, 105);
    font-size: 18px;
    letter-spacing: 0.25px;
    font-weight: 400;
    margin-top: 18px;
}

h3{
    color: rgb(28, 43, 51);
    line-height: 29px;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.5px;
}

span{
    color: rgb(0, 100, 224);
   letter-spacing: 0.25px;
   font-size: 14px;
}

.gt2 h2{
    color: rgb(195, 179, 135);
}


 a{
 color:rgb(28, 43, 51);
display: block;
font-size:14px;
font-weight:600;
letter-spacing: 0.25px;
line-height:25px;
 }



.button_create{
        background-color: #0064e0;
    border-radius: 45px;
    font-size: 14px;
    min-width: 119px;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    line-height: 23px;
    border: none;
}